<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.water_quality_monitring_and_reporting_app_with_ai_chatbot">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_icon_round"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Water_Quality_Monitring_and_Reporting_App_with_AI_Chatbot">
        <activity android:name=".OrgDetail"></activity>
        <activity android:name=".UserManagement" />
        <activity android:name=".ReportHandlerReportFromUser" />
        <activity android:name=".ExaminerExamination" />
        <activity android:name=".NewsList" />
        <activity android:name=".InvestigatorTeamDetail" />
        <activity android:name=".SystemAdminAddAdmin" />
        <activity android:name=".SystemAdminManageOrg" />
        <activity android:name=".SystemAdminAddOrg" />
        <activity android:name=".NewsManagement" />
        <activity android:name=".SystemAdminOrgManagement" />
        <activity android:name=".ExaminerHome" />
        <activity android:name=".ReportHandlerHome" />
        <activity android:name=".InvestigatorHome" />
        <activity android:name=".SystemAdminHome" />
        <activity android:name=".UserUbidotsScanDevice" />
        <activity android:name=".UserUbidotsAccSetup" />
        <activity android:name=".ActivitySuccessfulDisplay" />
        <activity android:name=".UserWQIDetails" />
        <activity android:name=".UserAddReportPhotoViewer" />
        <activity android:name=".UserAIChatting" />
        <activity android:name=".UserMyReport" />
        <activity android:name=".UserAddReport" />
        <activity android:name=".UserGraphDetails" />
        <activity android:name=".UserReportMenu" />
        <activity android:name=".AdminHome" />
        <activity android:name=".UserHome" />
        <activity android:name=".Registration" />
        <activity android:name=".Login" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>